<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="de.cau.cs.kieler.klighd.diagramSyntheses">
      <diagramSynthesis
            class="de.cau.cs.kieler.klighd.syntheses.GuiceBasedSynthesisFactory:de.cau.cs.kieler.osgiviz.OsgiDiagramSynthesis"
            id="de.cau.cs.kieler.osgiviz.OsgiDiagramSynthesis">
      </diagramSynthesis>
   </extension>
   <extension
         point="de.cau.cs.kieler.klighd.extensions">
      <action
            class="de.cau.cs.kieler.osgiviz.actions.SelectRelatedAction"
            id="de.cau.cs.kieler.osgiviz.actions.SelectRelatedAction">
      </action>
      <action
            class="de.cau.cs.kieler.osgiviz.actions.FocusAction"
            id="de.cau.cs.kieler.osgiviz.actions.FocusAction">
      </action>
      <action
            class="de.cau.cs.kieler.osgiviz.actions.UndoAction"
            id="de.cau.cs.kieler.osgiviz.actions.UndoAction">
      </action>
      <action
            class="de.cau.cs.kieler.osgiviz.actions.RedoAction"
            id="de.cau.cs.kieler.osgiviz.actions.RedoAction">
      </action>
      <action
            class="de.cau.cs.kieler.osgiviz.actions.ResetViewAction"
            id="de.cau.cs.kieler.osgiviz.actions.ResetViewAction">
      </action>
      <action
            class="de.cau.cs.kieler.osgiviz.actions.ContextCollapseExpandAction"
            id="de.cau.cs.kieler.osgiviz.actions.ContextCollapseExpandAction">
      </action>
      <action
            class="de.cau.cs.kieler.osgiviz.actions.ContextExpandAllAction"
            id="de.cau.cs.kieler.osgiviz.actions.ContextExpandAllAction">
      </action>
      <action
            class="de.cau.cs.kieler.osgiviz.actions.ContextRemoveAction"
            id="de.cau.cs.kieler.osgiviz.actions.ContextRemoveAction">
      </action>
      <action
            class="de.cau.cs.kieler.osgiviz.actions.OverviewContextCollapseExpandAction"
            id="de.cau.cs.kieler.osgiviz.actions.OverviewContextCollapseExpandAction">
      </action>
      <action
            class="de.cau.cs.kieler.osgiviz.actions.ConnectAllAction"
            id="de.cau.cs.kieler.osgiviz.actions.ConnectAllAction">
      </action>
      <action
            class="de.cau.cs.kieler.osgiviz.actions.RevealRequiredBundlesAction"
            id="de.cau.cs.kieler.osgiviz.actions.RevealRequiredBundlesAction">
      </action>
      <action
            class="de.cau.cs.kieler.osgiviz.actions.RevealUsedByBundlesAction"
            id="de.cau.cs.kieler.osgiviz.actions.RevealUsedByBundlesAction">
      </action>
      <action
            class="de.cau.cs.kieler.osgiviz.actions.RevealUsedPackagesAction"
            id="de.cau.cs.kieler.osgiviz.actions.RevealUsedPackagesAction">
      </action>
      <action
            class="de.cau.cs.kieler.osgiviz.actions.RevealImplementingServiceComponentsAction"
            id="de.cau.cs.kieler.osgiviz.actions.RevealImplementingServiceComponentsAction">
      </action>
      <action
            class="de.cau.cs.kieler.osgiviz.actions.RevealImplementedServiceInterfacesAction"
            id="de.cau.cs.kieler.osgiviz.actions.RevealImplementedServiceInterfacesAction">
      </action>
      <action
            class="de.cau.cs.kieler.osgiviz.actions.RevealReferencingServiceComponentsAction"
            id="de.cau.cs.kieler.osgiviz.actions.RevealReferencingServiceComponentsAction">
      </action>
      <action
            class="de.cau.cs.kieler.osgiviz.actions.RevealReferencedServiceInterfacesAction"
            id="de.cau.cs.kieler.osgiviz.actions.RevealReferencedServiceInterfacesAction">
      </action>
      <action
            class="de.cau.cs.kieler.osgiviz.actions.RevealInjectedServiceInterfaceAction"
            id="de.cau.cs.kieler.osgiviz.actions.RevealInjectedServiceInterfaceAction">
      </action>
   </extension>

</plugin>
