.vscode/**
.vscode-test/**
*.vsix
node_modules
out/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
webpack.config.js
**/.eslintrc.json
**/*.map
**/webpack.config.js
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
*.code-workspace